$primary-color: #000000;
$secondary-color: #ffffff;
$tertiary-color: #e5e5e5;
$accent-color: #fdfd55;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$base-fontsize: 15px;
