@import "vars";

@mixin font-face($font-family, $url) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$url}.eot");
    src: url("#{$url}.eot?#iefix") format("embedded-opentype"),
      url("#{$url}.woff") format("woff"), url("#{$url}.ttf") format("truetype"),
      url("#{$url}.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face(
  "Druk Wide Bold",
  "https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a"
);

body {
  font-family: "Druk Wide Bold", sans-serif;
  font-size: $base-fontsize;
  margin: 0;
  background-color: $primary-color;
  .container {
    max-width: 1800px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul li.dropdown ul {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

ul li.dropdown:hover > ul,
ul li.dropdown:focus-within > ul,
ul li.dropdown ul:hover {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}

@media screen and (min-width: $breakpoint-mobile) {
}

@media screen and (min-width: $breakpoint-tablet) {
}

@media (min-width: $breakpoint-desktop) {
  ul li.dropdown.dropdown-mobile ul,
  ul li.dropdown.dropdown-tablet ul {
    visibility: visible;
    opacity: 1;
  }
  ul li.dropdown.dropdown-mobile > a,
  ul li.dropdown.dropdown-tablet > a {
    display: none;
  }
}
