@import "vars";

@mixin font-face($font-family, $url) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$url}.eot");
    src: url("#{$url}.eot?#iefix") format("embedded-opentype"),
      url("#{$url}.woff") format("woff"), url("#{$url}.ttf") format("truetype"),
      url("#{$url}.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face(
  "Druk Wide Bold",
  "https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a"
);

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Druk Wide Bold", sans-serif;
  font-size: $base-fontsize;
  margin: 0;
  background-color: $primary-color;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 750ms ease-in;
}

a {
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

li {
  list-style: none;
}

ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h2 {
  font-size: 3.6rem;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

ul li.dropdown ul {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

ul li.dropdown:hover > ul,
ul li.dropdown:focus-within > ul,
ul li.dropdown ul:hover {
  visibility: visible;
  opacity: 1;
}

.disable-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

@media (min-width: $breakpoint-desktop) {
  ul li.dropdown.dropdown-mobile ul,
  ul li.dropdown.dropdown-tablet ul {
    visibility: visible;
    opacity: 1;
  }
  ul li.dropdown.dropdown-mobile > a,
  ul li.dropdown.dropdown-tablet > a {
    display: none;
  }
}
