@import "vars";

.hero-presentation {
  position: relative;
  background-color: $accent-color;
  height: 101vh;
  z-index: 2;
  .hero-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .hero-subtitle {
    position: absolute;
    left: 50%;
    top: calc(50% + 30px);
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 1rem;
  }

  .scroll-warning {
    position: absolute;
    top: 80%;
    display: flex;
    justify-content: center;
    width: 100%;
    .scroll-indicator {
      overflow: hidden;
      position: absolute;
      width: 2px;
      text-align: center;
      height: 100px;
      .scroll-border {
        position: absolute;
        top: 45px;
        left: 0;
        width: 2px;
        height: 0;
        background: black;
        -webkit-animation: load 3s ease-in;
        -moz-animation: load 3s ease-in;
        -o-animation: load 3s ease-in;
        animation: load 3s ease-in;
        animation-iteration-count: infinite;
      }
    }
  }
}

.animate {
  opacity: 1;
  transition: opacity 1000ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes load {
  35% {
    height: 100%;
    transform: translateY(0);
  }
  50% {
    height: 100%;
    transform: translateY(0);
  }
  85% {
    height: 100%;
    transform: translateY(100%);
  }
  100% {
    height: 100%;
    transform: translateY(100%);
  }
}

@media only screen and (min-width: $breakpoint-mobile) {
}

@media only screen and (min-width: $breakpoint-tablet) {
}

@media only screen and (min-width: $breakpoint-desktop) {
  .hero-presentation {
    .hero-title {
      font-size: 2.4rem;
    }
    .hero-subtitle {
      font-size: 1.7rem;
      top: calc(50% + 50px);
    }
  }
}
