@import "vars";

#project-selector {
  background-color: black;
  height: 90vh;
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
  padding-left: 40px;
  padding-top: 43vh;
  .project-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    .project-link {
      height: 150px;
      img {
        transition: opacity 300ms ease-in;
        transition-delay: 300ms;
        width: 90%;
        position: fixed;
        right: 0;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        opacity: 0;
        top: 20%;
        height: 220px;
        object-fit: cover;
      }
      a {
        position: relative;
        z-index: 1;
        font-size: 2rem;
        -webkit-text-stroke-width: 0.65px;
        -webkit-text-stroke-color: $accent-color;
        color: transparent;
        text-transform: uppercase;
        transform: translateY(-50%);
      }
      &.active {
        img {
          opacity: 0.7;
        }
        a {
          font-size: 2.1rem;
          -webkit-text-stroke-width: 0;
          -webkit-text-stroke-color: transparent;
          color: $secondary-color;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  #project-selector {
    .project-list {
      .project-link {
        img {
          height: 400px;
        }
        a {
          font-size: 3rem;
        }
        &.active {
          a {
            font-size: 3.2rem;
          }
        }
        &.last {
          a {
            font-size: 2.8rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-desktop) {
  #project-selector {
    .project-list {
      .project-link {
        img {
          height: 650px;
          width: 900px;
        }
        a {
          font-size: 3.2rem;
        }
        &.active {
          a {
            font-size: 3.4rem;
          }
        }
        &.last {
          a {
            font-size: 3rem;
          }
        }
      }
    }
  }
}
