@import "vars";

#project-selector {
  background-color: black;
  padding-top: 90%;
  padding-bottom: 40%;
  .project-list {
    .project-link {
      margin-bottom: 30px;
      position: relative;
      img {
        display: none;
      }
      a {
        font-size: 2rem;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: $accent-color;
        color: transparent;
        margin: 20px;
      }
      &.active {
        img {
          display: block;
          width: 90%;
          position: absolute;
          right: 0;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          opacity: 0.7;
          top: -280px;
          height: 220px;
          object-fit: cover;
        }
        a {
          font-size: 2.2rem;
          -webkit-text-stroke-width: 0;
          -webkit-text-stroke-color: transparent;
          color: $accent-color;
        }
      }
      &.last {
        a {
          font-size: 1.8rem;
          -webkit-text-stroke-width: 0.25px;
        }
      }
    }
  }
}
