@import "vars";

.project-inspo {
  background-color: $secondary-color;
  display: grid;
  grid-template:
    "title insp1" 400px
    "insp2 insp3" 500px
    / 50% 50%;
  column-gap: 45px;
  row-gap: 45px;

  h2 {
    grid-area: title;
    justify-self: end;
    align-self: end;
    color: $primary-color;
  }

  img {
    transition: width 300ms linear;
  }

  .react-reveal:nth-child(2) {
    grid-area: insp1;
    justify-self: start;
    align-self: end;
    img {
      width: 300px;
      &:hover {
        width: 350px;
      }
    }
  }

  .react-reveal:nth-child(3) {
    grid-area: insp2;
    justify-self: end;
    align-self: start;
    img {
      width: 300px;
      &:hover {
        width: 350px;
      }
    }
  }

  .react-reveal:nth-child(4) {
    grid-area: insp3;
    justify-self: start;
    align-self: flex-start;
    img {
      width: 450px;
      &:hover {
        width: 500px;
      }
    }
  }
}
